* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin: 10px 2em;
    list-style: none;
    padding: 1.3em 1em;
}

body {
    height: 100vh;
    text-align: center;
}

header {
    background-color: #b1ddf0;
    float: left;
    height: 100vh;
    width: 25vw;
}

.menu ul {
    padding-top: 35vh;
}

.middle {
    height: 100vh;
}
